@font-face {
  font-family: "Abril Fatface_23.0.0_google";
  src: url("../../../fonts/Abril Fatface-Regular_23.0.0_google.ttf");
  font-weight: 400; 
  font-display: swap;
}
@font-face {
  font-family: "Roboto_0.0.0_system";
  src: url("../../../fonts/Roboto-Regular.ttf");
  font-weight: 400; 
  font-display: swap;
}