#s-b1325691-3b63-4d26-911a-15f0a7529fc8 > #backgroundBox {
  background-color: #D9D9D9;
  position: absolute;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 > #alignmentBox {
  position: relative;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_1 {
  position: absolute;
  width: 1056.131097560975px;
  min-height: 192.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_1 {
  position: absolute;
  width: 839.9999999999997px;
  min-height: 271.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_2 {
  position: absolute;
  width: 689.0000000000008px;
  min-height: 81.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_1 input::-moz-placeholder {
  color: #82888C;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_1 input:-moz-placeholder {
  color: #82888C;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_1 {
  position: absolute;
  width: 669.0px;
  height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_1 > .backgroundLayer > .colorLayer {
  background-color: #E5F0F3;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_1 {
  position: absolute;
  width: 449.9999999999998px;
  min-height: 57.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #1BDAF1;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_3 {
  position: absolute;
  width: 359.9999999999999px;
  min-height: 470.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #CCCCCC;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_3 {
  position: absolute;
  width: 252.140625px;
  min-height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_4 {
  position: absolute;
  width: 312.78999247690035px;
  min-height: 342.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_2 {
  position: absolute;
  width: 72.01219512194939px;
  min-height: 28.99999999999966px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_3 {
  position: absolute;
  width: 449.9999999999998px;
  min-height: 57.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #1BDAF1;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_2 {
  position: absolute;
  width: 1366.0px;
  min-height: 75.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #1BDAF1;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Image_1 {
  position: absolute;
  width: 70.0px;
  height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 .s-Select_1 .line_options.selected {
  background-color: #000000 !important;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 .s-Select_1 .selected > .options {
  color: #FFFFFF !important;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 .s-Select_1 .line_options:hover {
  background-color: #000000 !important;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 .s-Select_1 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Select_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Select_1 {
  position: absolute;
  width: 300.0px;
  height: 59.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  vertical-align: middle;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Select_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Select_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: dotted;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: dotted;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: dotted;
  border-left-color: #000000;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Select_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_4 {
  position: absolute;
  width: 293.0px;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_5 {
  position: absolute;
  width: 752.0000000000001px;
  min-height: 490.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #A0BDAE;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_2 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_2 input::-moz-placeholder {
  color: #82888C;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_2 input:-moz-placeholder {
  color: #82888C;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_2 input:-ms-input-placeholder {
  color: #82888C;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_2 {
  position: absolute;
  width: 383.1018811035144px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_2 .valign {
  vertical-align: middle;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Input_text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_5 {
  position: absolute;
  width: 135.60000610351568px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_6 {
  position: absolute;
  width: 135.60000610351568px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_7 {
  position: absolute;
  width: 135.60000610351568px;
  min-height: 37.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Check_1 {
  position: absolute;
  width: 105.99999999999983px;
  height: 94.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Check_2 {
  position: absolute;
  width: 105.99999999999983px;
  height: 94.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Check_3 {
  position: absolute;
  width: 105.99999999999983px;
  height: 94.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_8 {
  position: absolute;
  width: 62.265624999999204px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_9 {
  position: absolute;
  width: 90.10188110351328px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_10 {
  position: absolute;
  width: 90.10188110351328px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Radio_group_1 table {
  display: table-cell;
  vertical-align: top;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Radio_group_1 table tbody {
  display: inline-grid;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Radio_group_1 table tr > td:not(:last-child) {
  padding-right: 90px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Radio_group_1 {
  position: absolute;
  width: 383.1018811035143px;
  height: 34.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Radio_group_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Radio_group_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_11 .valign {
  vertical-align: top;
  text-align: right;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_11 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_5 {
  position: absolute;
  width: 85.0px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Image_2 {
  position: absolute;
  width: 50.0px;
  height: 53.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 #s-Image_3 {
  position: absolute;
  width: 43.99198404947856px;
  height: 43.99198404947874px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b1325691-3b63-4d26-911a-15f0a7529fc8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}