#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b > #backgroundBox {
  background-color: #D9D9D9;
  position: absolute;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b > #alignmentBox {
  position: relative;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Rectangle_1 {
  position: absolute;
  width: 1273.0px;
  min-height: 684.9999999999993px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Rectangle_1 > .borderLayer {
  border-top-width: 4.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Text_1 {
  position: absolute;
  width: 1272.9999999999993px;
  min-height: 105.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Text_1 > .backgroundLayer > .colorLayer {
  background-color: #1BDAF1;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Text_1 > .borderLayer {
  border-top-width: 4.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Text_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Text_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
  font-size: 54.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Abril Fatface_23.0.0_google',Arial;
  font-size: 54.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_1 input::-webkit-input-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_1 input::-moz-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_1 input:-moz-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_1 input:-ms-input-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_1 {
  position: absolute;
  width: 319.8945312499996px;
  height: 53.941164022702566px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_1 input {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Radio_group_1 table {
  display: table-cell;
  vertical-align: top;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Radio_group_1 table tbody {
  display: inline-grid;
  gap: 6px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Radio_group_1 {
  position: absolute;
  width: 220.99999999999977px;
  height: 116.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Radio_group_1 > .backgroundLayer > .colorLayer {
  background-color: #E5F0F3;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Radio_group_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_2 input::-webkit-input-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_2 input::-moz-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_2 input:-moz-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_2 input:-ms-input-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_2 {
  position: absolute;
  width: 357.9999999999999px;
  height: 51.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_2 .valign {
  vertical-align: middle;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_2 input {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_2 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_3 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_3 input::-moz-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_3 input:-moz-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_3 input:-ms-input-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_3 {
  position: absolute;
  width: 474.9999999999993px;
  height: 50.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_3 .valign {
  vertical-align: middle;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_3 > .backgroundLayer > .colorLayer {
  background-color: #E5F0F3;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_3 > .borderLayer {
  border-top-width: 4.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_4 input::-webkit-input-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_4 input::-moz-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_4 input:-moz-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_4 input:-ms-input-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_4 {
  position: absolute;
  width: 260.9999999999999px;
  height: 56.39703703973004px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_4 .valign {
  vertical-align: middle;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_4 input {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_5 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_5 input::-moz-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_5 input:-moz-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_5 input:-ms-input-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_5 {
  position: absolute;
  width: 474.9999999999991px;
  height: 51.4264550283782px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_5 .valign {
  vertical-align: middle;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_5 > .backgroundLayer > .colorLayer {
  background-color: #E5F0F3;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_5 > .borderLayer {
  border-top-width: 4.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_6 input::-webkit-input-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_6 input::-moz-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_6 input:-moz-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_6 input:-ms-input-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_6 {
  position: absolute;
  width: 245.00000000000023px;
  height: 70.88232804540502px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_6 .valign {
  vertical-align: middle;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_6 input {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_7 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_7 input::-moz-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_7 input:-moz-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_7 input:-ms-input-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_7 {
  position: absolute;
  width: 474.9999999999991px;
  height: 71.2352733711707px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_7 .valign {
  vertical-align: middle;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_7 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_7 > .backgroundLayer > .colorLayer {
  background-color: #E5F0F3;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_7 > .borderLayer {
  border-top-width: 4.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_8 input::-webkit-input-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_8 input::-moz-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_8 input:-moz-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_8 input:-ms-input-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_8 {
  position: absolute;
  width: 245.00000000000006px;
  height: 59.82349206810841px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_8 .valign {
  vertical-align: middle;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_8 input {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_9 input::-webkit-input-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_9 input::-moz-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_9 input:-moz-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_9 input:-ms-input-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_9 {
  position: absolute;
  width: 245.00000000000006px;
  height: 64.7646560908114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_9 .valign {
  vertical-align: middle;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_9 input {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_10 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_10 input::-moz-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_10 input:-moz-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_10 input:-ms-input-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_10 {
  position: absolute;
  width: 475.0px;
  height: 59.823492068108294px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_10 .valign {
  vertical-align: middle;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_10 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_10 > .backgroundLayer > .colorLayer {
  background-color: #E5F0F3;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_10 > .borderLayer {
  border-top-width: 4.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_11 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_11 input::-moz-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_11 input:-moz-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_11 input:-ms-input-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_11 {
  position: absolute;
  width: 474.9999999999982px;
  height: 64.76465609081129px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_11 .valign {
  vertical-align: middle;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_11 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_11 > .backgroundLayer > .colorLayer {
  background-color: #E5F0F3;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_11 > .borderLayer {
  border-top-width: 4.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_12 input::-webkit-input-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_12 input::-moz-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_12 input:-moz-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_12 input:-ms-input-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_12 {
  position: absolute;
  width: 312.552734375px;
  height: 64.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_12 .valign {
  vertical-align: middle;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_12 input {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_13 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_13 input::-moz-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_13 input:-moz-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_13 input:-ms-input-placeholder {
  color: #82888C;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_13 {
  position: absolute;
  width: 474.99999999999704px;
  height: 63.999999999999545px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_13 .valign {
  vertical-align: middle;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_13 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_13 > .backgroundLayer > .colorLayer {
  background-color: #E5F0F3;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_13 > .borderLayer {
  border-top-width: 4.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_14 input::-webkit-input-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_14 input::-moz-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_14 input:-moz-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_14 input:-ms-input-placeholder {
  color: #000000;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_14 {
  position: absolute;
  width: 314.9208984375px;
  height: 60.11760141657703px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_14 .valign {
  vertical-align: middle;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_14 input {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Input_text_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Radio_group_2 table {
  display: table-cell;
  vertical-align: top;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Radio_group_2 table tbody {
  display: inline-grid;
  gap: 5px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Radio_group_2 {
  position: absolute;
  width: 214.00659179687432px;
  height: 124.38229277639755px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Radio_group_2 > .backgroundLayer > .colorLayer {
  background-color: #E5F0F3;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Radio_group_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Button_1 {
  position: absolute;
  width: 237.48022460937455px;
  min-height: 65.49999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #1BDAF1;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d354d480-0c5a-4ce4-8ffb-1bc538eb7f0b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}